.statusCircle {
    -fx-fill: green ;
}

.statusCircle:disabled {
    -fx-fill: red ;
}

.status {
    -fx-fill: green ;
}

.status:disabled {
    -fx-fill: red ;
}

.infoText{
    -fx-text-fill: #6b6b6b ;
}