.left-group {
    -fx-min-width: 260;
    -fx-max-width: 260;
}

.left-group-symbol {
    -fx-min-width: 80;
    -fx-max-width: 80;
}

.left-group-volume {
    -fx-min-width: 80;
    -fx-max-width: 80;
}

.left-group-price {
    -fx-min-width: 100;
    -fx-max-width: 100;
}

.slope {
    -fx-min-width: 50;
    -fx-max-width: 50;
}

.slope-group {
    -fx-min-width: 200;
    -fx-max-width: 200;
}

.change {
    -fx-min-width: 50;
    -fx-max-width: 50;
}

.change-group {
    -fx-min-width: 150;
    -fx-max-width: 150;
}

#label-change {
    -fx-min-width: 50;
    -fx-max-width: 50;
}

#label-slope {
    -fx-min-width: 50;
    -fx-max-width: 50;
}

